[client]

default-character-set = utf8mb4

[mysqld]

character-set-server = utf8mb4

collation-server = utf8mb4_unicode_ci

server-id = 1

log-bin = /var/lib/mysql/binlog

binlog-do-db = masterSlaveDB

sync_binlog = 1

binlog_checksum = crc32

[mysql]

default-character-set = utf8mb4